
/*===== Custom styles =====*/

#top {
  padding-top: 80px;
}

body {
  color: #000;
  font: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  color: teal;
  font-size: 32px;
}

h2 {
  color: teal;
  text-align: center;
  font-size: 26px;
  padding-bottom: 20px;
}

#tree {
  margin-top: 20px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
}

.quote {
  padding-top: 50px;
  color: #888;
  text-align: center;
}

.brief-me {
  font-weight: bolder;
  color: #888;
}

.long-me {
  color: #888;
  margin-bottom: 20px;
}

.bottom {
  padding-top: 50px;
  padding-bottom: 30px;
}

.learn-more a {
  font-weight: bolder;
}

.learn-more a:hover {
  text-decoration: underline;
}

#picture {
  border-radius: 170px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}

.col-md-6 img {
  margin-top: 14px;
  height: 250px;
  margin-bottom: 30px;
  margin-left: 20px;
}

#long-me {
  padding-right: 100px;
}

.homepage-center {
  text-align: center;
}

#author {
  font-weight: bolder;
}

#post-date {
  color: #888;
}

#pomodoro {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 300px;
  margin: 0 auto;
}

#more-posts {
  text-align: center;
  padding-bottom: 20px;
}

#clock {
  padding-right: 5px;
}

#first-post {
  padding-bottom: 20px;
}

#categories {
  padding-left: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
}

/*===== Navigation =====*/

.navbar-static-top, .primary-footer {
  background-color: #6AD7D3;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
}
/*===== Footer =====*/

.primary-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  padding-left: 10px;
}

.small, .social-media {
  display: inline-block;
}

.social-media {
  text-align: right;
  margin: 0 10px;
}
