/*===== Custom styles =====*/
.navbar-static-top, .primary-footer {
  background-color: #6AD7D3;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
}

#top {
  padding-top: 80px;
}

body {
  color: #000;
  font: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  color: teal;
  font-size: 32px;
}

h2 {
  color: teal;
  text-align: center;
  font-size: 26px;
  padding-bottom: 20px;
}

#long-me, #tree {
  display: inline-block;
}

.quote {
  padding-top: 50px;
  color: #888;
  text-align: center;
}

.brief-me {
  font-weight: bolder;
  color: #888;
}

.scroll {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about-me {
  border-top: 3px solid #888;
}

#picture {
  border-radius: 170px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}

.col-md-6 img {
  height: 250px;
  margin-bottom: 50px;
  padding-left: 70px;
}

#long-me {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.homepage-center {
  text-align: center;
}

.copyright {
  padding-left: 10px;
}

/*===== Footer =====*/

.primary-footer {
  /*position: fixed;*/
  height: 50px;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.small, .social-media, .top-menu {
  display: inline-block;
}

.social-media {
  text-align: right;
  margin: 0 10px;
}
